/*  Fonts
    font-family: 'Comforter', cursive;
    font-family: 'Source Sans Pro', sans-serif;
*/



/*-----Universal Styles-----*/

*   {
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0rem;
    background-color: rgba(131, 76, 12, 0.658);
}



/*-----Nav Bar-----*/

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 3rem;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-image: url(resources/old-wood.jpg);
    background-size: cover;
}

nav a   {
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    width: 8rem;
    margin: 1rem;
    padding: 0.3rem;
    background-image: url(resources/old-plate.png);
    background-size: cover;
    background-position: center;
    color:rgba(97, 22, 22, 0.7);
}

@media only screen and (max-width: 700px) {
    nav {
        height: 2rem;
        background-image: none;
        background-color: rgba(97, 22, 22, 1);
    }

    nav a   {
        background-image: none;
        margin: 0rem;
        padding: 0.1rem;
        color: white;
    }
}



/*-----Header-----*/

header  {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 60vh;
    color: white;
    background-image: url(resources/old-map.avif);
    background-position: center;
    justify-content: center;
    align-items: center;
}

header  h1  {
    font-family: 'Comforter', cursive;
    font-size:  5rem;
}

header  span    {
    font-size:  1.7rem;
}

@media only screen and (max-width: 950px) {
    header  span    {
        font-size:  1.7rem;
        text-align: center;
        margin: 0.2rem;
    }
}

@media only screen and (max-width: 700px) {
    header  h1  {
        font-size:  3.5rem;
    }

    header  span    {
        font-size:  1.2rem;
        text-align: center;
        margin: 0.2rem;
    }
}



/*-----Meet the club-----*/

#meetTheClub    h2{
    font-family: 'Comforter', cursive;
    font-size: 3rem;
}

#meetTheClub    .slideGallery   {
    margin: 2rem;
    width: 70vw;
}

#meetTheClub    .galleryContainer   {
    display: flex;
    justify-content: center;
    align-items: center;
}

#meetTheClub    button  {
    height: 5rem;
    width: 2rem;
    color: white;
    background-color:rgba(97, 22, 22, 0.7);
    border-radius: 15px;
    border-color: black;
}

@media only screen and (min-width: 1400px) {
    #meetTheClub    .slideGallery   {
        width: 50vw;
    }
}

@media only screen and (max-width: 700px) {
    #meetTheClub    h2{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    #meetTheClub    p{
        font-size:  1.2rem;
        text-align: center;
        margin: 0.2rem;
    }

    #meetTheClub    .galleryContainer   {
        width: 100%;
    }

    #meetTheClub    button  {
        z-index: 1;
    }
}



/*-----Week bests-----*/

.container {
    margin-left: 10vw;
    margin-right: 10vw;
}

.container.full-width {
    margin-left: 0vw;
    margin-right: 0vw;
}

#weekBests  h2  {
    font-family: 'Comforter', cursive;
    font-size: 3rem;
}

#songContainer  {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 950px) {
    #weekBests  iframe  {
        width: 225px;
        height: 285px;
    }
}

@media only screen and (max-width: 700px) {
    #weekBests  h2  {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
    
    
    #songContainer  {
        flex-flow: column;
    }

    #weekBests  iframe  {
        margin: 1rem auto 1rem auto;
        width: 300px;
        height: 380px;
    }
}



/*-----Contact us-----*/

#contactUs  h2  {
    font-family: 'Comforter', cursive;
    font-size: 3rem;
}

#contactUs  ul  {
    display: flex;
    height: 80vh;
    padding-left: 5vw;
    justify-content: center;
    flex-flow: column;
    font-size: 2rem;
    background-image: url(resources/old-ship.jpg);
    background-size: cover;
    background-position-y: center;
}

@media only screen and (max-width: 700px) {
    #contactUs  h2  {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    #contactUs  ul  {
        height: 100%;
        background-image: none;
        font-size: 1.2rem;
    }
}



/*-----Footer-----*/

footer  {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 0.8rem;
}